@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h4>Add a new flavor</h4>

<p>@Html.ValidationMessageFor(model => model.Frosting, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.Frosting)
  @Html.TextBoxFor(model => model.Frosting)
  <br>
  <input type="submit" value="Add new Flavor"/>
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>